[Desktop Entry]
Name=Color Club
GenericName=Color Club
Comment=<PlaceholderShortDesc>
Exec=color-club %F
Icon=io.github.mlm_games.color-club
Terminal=false
Type=Application
Categories=<PlaceholderCategories>
